In [5]:
from data_wrapper import DataWrapper
import pandas as pd
import numpy as np

In [6]:
df = DataWrapper("dataset/data_small.csv")

In [7]:
df.head()

,Date,Time,Classroom Type,Classroom Category,Room No,Device Code,School No,Grade,Measured T,Measured RH,Measured CO2,Measured PM1.0,Measured PM2.5,Measured PM10,School Day,School Hours,Break Time,Power On,Outdoor Temperature
0,2023-02-08,07:34:34,Container No Insulation,Temporary,1,3,1,3,20.8,68.9,NaN,1.0,1.0,1.0,Y,N,N,On,18.20144
1,2023-02-08,07:57:34,Container No Insulation,Temporary,1,3,1,3,22.0,69.1,NaN,0.0,0.0,2.0,Y,N,N,On,19.38780
2,2023-02-08,08:20:29,Container No Insulation,Temporary,1,3,1,3,23.3,68.8,NaN,1.0,1.0,3.0,Y,Y,N,Off,20.14053
3,2023-02-08,08:30:10,Container No Insulation,Temporary,1,1,1,3,22.7,61.2,NaN,1.0,3.0,3.0,Y,Y,N,Off,20.51689
4,2023-02-08,08:46:21,Container No Insulation,Temporary,1,3,1,3,24.4,62.9,NaN,2.0,2.0,2.0,Y,Y,N,Off,21.08144